* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;

}

body {
  height: 285vh;
}

h1 {
  font-family: 'Anton', sans-serif;
  padding-top: 30px;
  font-size: 50px;
  width: 95%;
}

p {
  font-size: 25px;
  padding-top: 15px;
}

.red {
  color: #f40000;
}

.emphasize {
  font-size: 225%;
}

.hero {
  height: 89.5vh;
  width: 100vw;
  background-image: url('/images/hero-bg.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hero-tint {
  background-color: rgba(0,0,0, .5);
  background-blend-mode: multiply;
}

.cta {
  margin-top: 30px;
  padding: 17px;
  width: 30%;
  border-radius: 7px;
  border: none;
  background: #f40000;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.cta:hover {
  transform: translateY(3px);
  cursor: pointer;
  background: black;
}

.body-discount {
  font-size: 50px;
  font-weight: bold;
}

.list-title {
  margin-top: 100px;
  font-size: 30px;
  font-weight: bold;
}

#vsl {
  padding-top: 30px;
}

.benefit-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(450px, 300px);
  margin-top: 30px;
  padding: 10px;
}

.benefit-image {
  height: auto;
  width: 300px;
  background: red;
  margin: auto;
  border-radius: 7px;
}

.benefit-grid-last {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.benefit-last {
  width: 19.5%;
}

#one {
  background: url('/images/lifetime-access.png');
  background-size: cover;
  position: relative;
  height: 300px;
}

#two {
  background: url('/images/otp.jpeg');
  background-size: cover;
  position: relative;
  height: 300px;
}

#three {
  background: url('/images/700-videos.png');
  background-size: cover;
  position: relative;
  height: 300px;
}

#four {
  background: url('/images/unlock-video.png');
  background-size: cover;
  position: relative;
  height: 300px;
}

#five {
  background: url('/images/facebook-group.png');
  background-size: cover;
  position: relative;
  height: 300px;
}

#six {
  background: url('/images/discount.png');
  background-size: cover;
  position: relative;
  height: 300px;
}

#seven {
  background: url('/images/downloads.png');
  background-size: cover;
  position: relative;
  height: 300px;
}

#eight {
  background: url('/images/30daymondayback.png');
  background-size: cover;
  position: relative;
  height: 300px;
}

.cta-2 {
  margin-top: 50px;
  font-size: 35px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  #vsl {
    width: 90%;
  }

  .cta {
    width: 75%;
  }
  
  .benefit-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(450px, 300px);
    margin-top: 30px;
    padding: 10px;
  }
}