* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: Open Sans;

}

body {
  height: auto;
}

h1 {
  font-family: Fira Sans;
  padding-top: 30px;
  font-size: 50px;
  width: 95%;
}

.hero-image {
  margin-top: 30px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  padding-top: 15px;
  color: gray
}

.red {
  color: #f40000;
}

.emphasize {
  font-size: 225%;
  width: 90%;
  margin: auto;
}

.hero {
  height: 89.5vh;
  width: 100vw;
  background-image: url('/images/hero-bg.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hero-tint {
  background-color: rgba(0,0,0, .5);
  background-blend-mode: multiply;
}

.hero-text {
  color: white;
  font-size: 25px;
}

.cta {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px;
  width: 50%;
  border-radius: 7px;
  border: none;
  background: #f40000;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.cta:hover {
  transform: translateY(3px);
  cursor: pointer;
  background: black;
}

.body-title {
  color: darkslategray;
}

.body-discount {
  margin-top: 75px auto auto auto;
  color: darkslategray;
  font-size: 25px;
}

ul {
  margin: 15px auto 30px auto;
  width: 75%;
  color: darkslategray;
  font-size: 18px;
  list-style-type: none;
}

li {
  padding: 5px;
  text-align: left;
}


.value-title {
  padding-top: 15px;
}

.list-title {
  margin-top: 75px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: darkslategray;
}

#vsl {
  padding-top: 30px;
}

.benefit-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}

.benefit {
  width: 300px;
  height: 350px;
  margin-top: 15px;
  padding: 25px;
  border-radius: 7px;
  background: rgb(240,240,240);
}

.benefit:hover {
  transform: translateY(5px);
  cursor: pointer;
  background: rgb(220,220,220);
}

.benefit-image {
  max-height: 60%;
  max-width: 90%;
  border-radius: 7px;
}

.benefit-label, .benefit-desc {
  color: darkslategray;
}

.benefit-label {
  font-weight: bold;
}

.calorie, .community {
  transform: scale(.7);
}

.discount-image, .live-image {
  margin-top: 25px;
}

.discount{
  margin-top: 25px;
}

.live {
  padding-top: 50px;
}

.cta-2 {
  margin-top: 50px;
  font-size: 35px;
  width: 80%;
}

.offer-box {
  height: auto;
  width: 110vw;
  background-image: url('/images/bg-2.jpeg');
  margin: auto;
  position: relative;
  right: 150px;
  padding: 30px;
}

.offer-title {
  position: relative;
  left: 40px; 
}

.white {
  color: white;
  width: 100%;
}

.benefit-bullets {
  width: 40%;
  height: auto;
  background: rgb(240,240,240);
  border-radius: 7px;
  padding: 25px;
  margin: 30px auto;
}

.lifetime {
  font-size: 40px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  #vsl {
    width: 90%;
  }

  .cta {
    width: 75%;
  }

  .cta-2 {
    width: 80%;
  }
  

}